---
import BaseLayout from "../../layouts/base-layout.astro";

const res = await fetch(
  "https://api-ap-northeast-1.hygraph.com/v2/clf9ej9ti0tev01upfsb73kfm/master",
  {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Authorization: `Bearer ${
        import.meta.env.HYGRAPH_QUERY_PAT
      }`,
    },
    body: JSON.stringify({
      query: `
        query {
          news (stage: PUBLISHED, where: {slug: "news-1"}){
            slug
            title
            body
            publishedAt
            author {
              name
            }
          }
        }
      `,
    }),
  }
);

if (!res.ok)
  throw new Error(`Fetch failed: ${await res.text()}`);

const {
  data: { news },
} = await res.json();
---

<BaseLayout title={`${news.title} | Sample news site`}>
  <h1>Sample news site</h1>
  <h2>{news.title}</h2>
  <p>
    {
      Intl.DateTimeFormat("ja").format(
        new Date(news.publishedAt)
      )
    } 公開
  </p>
  <p>{news.body}</p>
  <p>ライター: {news.author.name}</p>
</BaseLayout>
